@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
}

.card-container {
  display: flex;
  width: 600px;
  height: 430px;
  border-radius: 10px;
  overflow: hidden;
}

.text-container {
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
  width: 300px;
}

h1 {
  font-family: "Fraunces";
  color: hsl(212, 21%, 14%);
  line-height: 98%;
  padding-right: 30px;
}

p {
  line-height: 150%;
  letter-spacing: 0.1px;
  font-size: 0.9rem;
}

.price-new {
  font-family: "Fraunces";
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
  padding-right: 20px;
}

#perfume {
  letter-spacing: 4px;
  font-size: 0.9rem;
}

#desktop-img {
  width: 300px;
  height: 430px;
}

.prices {
  display: flex;
  align-items: center;
  margin:20px 0px 0 0;
}

.btn {
  background-color: hsl(158, 36%, 37%);
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-family: inherit;
  border-radius: 10px;
  font-size: 0.9rem;
  margin-top: 25px;
  text-align: center;
}

.btn span {
  vertical-align: middle;
  margin-left: 5px;
}

svg {
  vertical-align: middle;
}

s {
  font-size: 0.9rem;
}

#mobile-img {
  display: none;
}

@media (max-width: 635px) {

  .card-container {
    flex-direction: column;
    height: 663px;
    width: 375px;
  }

  .text-container {
    width: 375px;
    height: 400px;
  }

  #desktop-img {
    display: none;
  }
  
  #mobile-img {
    display: block;
    width: 375px;
    height: 263px;
  }
}
